@media (max-width: 1190px) {
  br,
  .mobill-none {
    display: none;
  }
  .container {
    width: 740px;
  }
  .nav-text,
  .sections-title {
    text-align: center;
  }
  .header {
    padding: 20px 0;
    position: relative;
    box-sizing: border-box;
  }
  .logo,
  .nav-text,
  .nav-date {
    margin-bottom: 20px;
  }
  .nav-text span {
    display: block;
  }
  .main {
    margin-top: 0;
    padding: 40px 0 60px 0;
  }
  .main-speker-block {
    position: relative;
    left: 0;
    top: 0;
    margin: 0 auto;
  }
  .why-content {
    width: 350px;
  }
  .registration-block,
  .statistics,
  .speker-block,
  .main-block {
    flex-direction: column;
  }
  .registration-content,
  .registration-form,
  .speker-img,
  .speker-content,
  .topic-list-box,
  .main-content {
    width: 100%;
  }
  .statistics {
    position: relative;
    box-sizing: border-box;
    padding: 0 20px;
  }
  .statistics li {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
  }
  .statistics-item {
    margin: 0;
    margin-right: 20px;
  }
  .statistics-item__text {
    text-align: center;
    font-size: 20px;
  }
  .causes-list__item {
    width: 100%;
  }
  .topic-list__item {
    box-sizing: border-box;
  }
  .wrapper-list {
    position: relative;
    box-sizing: border-box;
  }
}
@media (max-width: 767px) {
  .container {
    width: 90%;
  }
  .main-title {
    text-align: center;
    margin-bottom: 20px;
  }
  .sections-title {
    font-size: 22px;
  }
  .main-list {
    padding-left: 10px;
    margin-bottom: 20px;
  }
  .main-list__item {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .statistics-item {
    min-width: 140px;
  }
  .statistics-item__text {
    text-align: left;
    font-size: 18px;
  }
  .registration-list__item,
  .causes-list__item {
    font-size: 16px;
  }
  .topic-list__item,
  .causes-list__item {
    margin-bottom: 20px;
  }
  .border-box {
    padding: 20px;
    flex-direction: column;
  }
  .border-box__container,
  .border-box__text {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }
  .border-box__text {
    margin-bottom: 20px;
  }
  .registration-list {
    margin-top: 0;
  }
  .why-block {
    flex-direction: column;
  }
  .why-content {
    width: 100%;
    margin-bottom: 20px;
  }
  .why-content__text {
    padding-left: 30px;
  }
  .why-content__text.bold::before,
  .why-content__text::before {
    left: 0;
  }
  .why-content__title {
    text-align: center;
  }
  .why-bottom-block__title {
    font-size: 18px;
  }
  .why-bottom-block__firs {
    font-size: 20px;
  }
  .why-bottom-block__firs span {
    display: block;
  }
  .why-bottom-block__second {
    font-size: 14px;
  }
  .wrapper {
    margin-bottom: 60px;
  }
  .wrapper-list-title {
    font-size: 18px;
    text-align: center;
  }
  .wrapper-list {
    padding-left: 30px;
  }
  .wrapper-list li {
    font-size: 16px;
  }
  .wrapper-list__number {
    font-size: 12px;
    left: -30px;
    width: 20px;
    height: 20px;
  }
  .speker-list__item {
    font-size: 16px;
  }
}
